[submodule "utils/cv/nnUNet"]
	path = utils/cv/nnUNet
	url = git@github.com:MIC-DKFZ/nnUNet.git
[submodule "utils/recommendation/dlrm"]
	path = utils/recommendation/dlrm
	url = git@github.com:OnSpecta/dlrm.git
