[submodule "utils/cv/nnUNet"]
	path = utils/cv/nnUNet
	url = https://github.com/MIC-DKFZ/nnUNet.git
[submodule "utils/recommendation/dlrm"]
	path = utils/recommendation/dlrm
	url = https://github.com/AmpereComputingAI/dlrm.git
[submodule "computer_vision/semantic_segmentation/segment_anything/segment-anything"]
	path = computer_vision/semantic_segmentation/segment_anything/segment_anything
	url = https://github.com/facebookresearch/segment-anything.git
[submodule "natural_language_processing/text_generation/nanogpt/nanoGPT"]
	path = natural_language_processing/text_generation/nanogpt/nanoGPT
	url = git@github.com:dkupnicki/nanoGPT.git
[submodule "utils/recommendation/DeepCTR"]
	path = utils/recommendation/DeepCTR
	url = https://github.com/shenweichen/DeepCTR.git
