# reference-only, installation causes trouble as of today on aarch64 platform, use setup_deb.sh script from main directory
batchgenerators==0.21
medpy==0.4.0
nibabel==3.2.2
numpy==1.22.3
onnxruntime==1.10.0
opencv-python==4.5.5.64
pandas==1.4.2
pycocotools==2.0.4
scikit-build==0.14.1
scipy==1.8.0
SimpleITK==2.1.1
tensorflow-aarch64==2.7.0
torch==1.9.0
torchvision==0.10.0
transformers==4.18.0
tqdm==4.64.0
